{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Packing Bd</title>
    {% tailwind_css %}
</head>
<body class="bg-[#0b0c10] text-gray-100 font-sans antialiased selection:bg-[#d4af37] selection:text-black min-h-screen flex flex-col">

    {% include "navber.html" %}
    {% include "mainsection.html" %}

    <main class="flex-grow">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include "fotter.html" %}
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>